@import "tailwindcss";

@theme {
  --color-primary-50: #f5f4f1;
  --color-primary-100: #e7e2da;
  --color-primary-200: #d1c6b7;
  --color-primary-300: #b6a48e;
  --color-primary-400: #a1886e;
  --color-primary-500: #927760;
  --color-primary-600: #7d6251;
  --color-primary-700: #70554a;
  --color-primary-800: #57423c;
  --color-primary-900: #4c3b37;
  --color-dark: #444;
}

body {
  @apply bg-primary-50 min-h-screen text-dark;
}

.grid-cols-recent-sales {
  @apply grid-cols-[1.5fr_2.5fr_2fr_2fr_1fr_1fr];
}

/* Custom Scrollbar */
.pretty-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.pretty-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.pretty-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-primary-200 rounded-full transition-colors hover:bg-primary-300;
}

/* Firefox support */
.pretty-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d1c6b7 transparent;
}
